//Большая кнопка 55px х 230px
.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-h2; @line-height-large; @border-radius-large);
}
//Кнопка для корзины "Оформить заказ" 30px x 175px
.btn-long {
  // line-height: ensure even-numbered height of button next to large input
  .button-size(@padding-long-vertical; @padding-long-horizontal; @font-size-h5; @line-height-large; @border-radius-large);
  text-decoration: underline;
}
.btn-long > img {
  padding-bottom: 2px;
}