label {
  color: #818181;
  font-weight: lighter;
}
#form-cabinet {
  display: table;
  width: 100%;
  .form-row {
    display: table-row;
  }
  label {
    display: table-cell;
    float: left;
    font-size: 1.5em;
    padding-top: 5px;
    padding-right: 10px;
  }
  input {
    display: table-cell;
    width: 60%;
    float: right;
    font-size: 21px;
    height: 40px;
    padding: 2px 10px;
    line-height: 1.42857143;
    color: #555555;
  }
  button {
    margin-bottom: 10px;
    display: table-cell;
    padding: 9px 10px;
    float: right !important;
  }
  .help-block {
    float: right;
  }
}
.nav-tabs {
  font-size: 1.29em;
  background-color: #e27c7c;
  a {
    color: white;
  }
  li {
    width: 33.3%;
    text-align: center;
  }
}

@media (max-width: @screen-md-min) {
  #form-cabinet {
    label {
      float: none;
    }
    input {
      float: none;
      width: 85%;
    }
    .help-block {
      float: none;
    }
    button {
      margin-top: 35px;
    }
  }
}

//_listOrder
.order-line td {
  padding: 15px 0;
}

.order-total-line {
  background: #e27c7c;
  height: 40px;
  color: #ffffff;
  padding: 0 15px;
}

.menu-kab-block {
  background: #e27c7c;
  height: 40px;
  padding: 0 15px;
  color: #ffffff;
}

.panel-heading {
  div {
    display: inline-block;
  }
  h4 {
    background: none;
    text-transform: none;
  }
  .panel-title {
    width: 100%;
  }
  .plus {
    width: 35px;
    height: 35px;
    margin-right: 25px;
    background: url(/img/plus.jpg) no-repeat;
  }
  .status {
    text-transform: lowercase;
    font-weight: normal;
    color: #a8a8a8;
  }
}

