.empty-cart {
  font-size: 2.14em;
  text-align: center;
  padding: 25px 0;
  color: #e27c7c;
}
.cart-product {
  margin: 0 15px 15px;
}
.cart-product input {
  width: 60px;
  text-align: center;
  height: auto;
  font-size: 1.29em;
}
.cart-price {
  padding-top: 5%;
  font-size: 1.29em;
  display: inline-block;
}
.total-price {
  font-size: 1.29em;
  margin: 0;
  display: inline-block;
}
.total-price-border {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  padding: 15px 15px
}
.cart h3 {
  background: none;
  padding: 0;
  color: #e27c7c;
}
.cart .agreement {
  color: #e27c7c;
  display:block;
  text-align: center;
}
