// Left/right controls for nav
// ---------------------------
.carousel-control {
  margin-left: -40px;
  margin-right: -40px;
  width: auto;

  // Set gradients for backgrounds
  &.left {
    background-image: none;
  }
  &.right {
    background-image: none;
  }
}

.arrow-left {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -48px;
  width: 31px;
  height: 97px;
  background: url(/img/sprite-ico.png) no-repeat -66px 0px;
}

.arrow-right {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -48px;
  width: 31px;
  height: 97px;
  background: url(/img/sprite-ico.png) no-repeat -98px 0px;
}

.carousel-indicators {
  bottom: 0;
  li {
    border: 1px solid #000;
    margin-left: 15px;
    margin-right: 15px;
  }
  .active {
    border: 1px solid #e27c7c;
    background-color: #e27c7c;
  }
}

.carousel-main-images .carousel-indicators {
  margin-top: 10px;
  width: 0;
  float: left;
  position: relative;
  margin-left: 0;
  left: 0;
}

.carousel-main-images .carousel-indicators {
  li {
    border: 0;
    margin: 0;
    border-radius: 0;
  }
  .active {
    border: 1px solid #e27c7c;
    background-color: #e27c7c;
  }
}
.carousel-main-images .carousel-inner {
  margin-left: 110px;
  width: auto;
}

