/* main CSS catalog */
#left-menu{
  display: table-cell;
  width: 230px;
}
#left-menu + div{
  display: table-cell;
  padding-left: 30px;
  padding-right: 20px;
}
#left-menu + div > div.row{
  margin-left: -3px;
  margin-right: -3px;
}
ul.catalog-menu{
  padding-left: 20px;
}
ul.catalog-menu > li{
  list-style-type: none;
  padding: 20px 0;
  border-bottom: 1px solid #d8d8d8;
  font-size: 1.25em;
  font-weight: bold;
}
ul.catalog-menu > li > ul > li{
  list-style-type: none;
  border-bottom: none;
  padding: 5px 0;
  font-size: 0.9em;
  font-weight: normal;
}
ul.catalog-menu > li > ul > li{
  display: none;
}
ul.catalog-menu > li.active > ul > li{
  display: block;
}
.active > a{
  color: #e27c7c;
}

/* CSS product at catalog */
.product{
  text-align: center;
  display: block;
  padding: 3px;
}
.product > div{
  background: #ffffff;
  height: 310px;
  padding: 20px 20px 15px;
}
.product-name{
  margin-top: 10px;
  height: 40px;
  font-size: 1.25em;
  line-height: 20px;
  text-transform: uppercase;
}
.product-price{
  font-size: 1.4em;
  font-weight: bold;
}
.product > div > button {
  margin-top: 10px;
}
