//
//ДОСТОИНСТВА
.dignity{
  margin-top: 60px;

  & > div > div{
    position: relative;
    border: 3px solid #e27c7c;
    height: 225px;
    padding-top: 58px;
    text-align: center;

    & > p{
      margin: 0 0 2px;
    }

    & + div{
      position: absolute;
      border-radius: 50px;
      display: block;
      width: 100px;
      height: 100px;
      background: #e27c7c;
      margin-top: -275px;
      left: 50%;
      margin-left: -50px;

      & > div{
        margin-top: -36px;
      }
    }
  }
}