body {
  background-color: #ebeaea;
  color: #000000;
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}
//ШАПКА САЙТА
.header {
  height: 35px;
  background-color: #000;
}
//Поиск
.navbar-form {
  padding: 0;
}
.navbar-form.navbar-right:last-child {
  margin: 0;
}
.navbar-form > .form-control {
  height: 25px;
  background-color: #000;
  border: 0;
  border-bottom: 1px solid #fff;
  font-size: 18px;
  color: #fff;
}
.glyphicon-search {
  padding-top: 4px;
  padding-left: 5px;
  font-size: 18px;
  top: 7px;
  color: #fff;
}
.glyphicon-search:hover {
  color: #fff;
  text-decoration: none;
}
.glyphicon-search:visited {
  color: #fff;
  text-decoration: none;
}
//
.phone {
  font-size: 1.57em;
  > small {
    position: absolute;
    padding-top: 2px;
    font-size: 80%;
  }
  > span {
    padding-left: 35px;
  }
}
.logo {
  margin-top: 10px;
  background: url(/img/logo.png) no-repeat 50px;
  background-size: 90px 91px;
  width: 230px;
  height: 91px;
  float: left;
  margin-right: 10px;
}
//Меню статический страниц
.table-list {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
  display: table;
  width: 100%;
}
.table-list > li {
  padding-left: 5px;
  padding-right: 5px;
  display: table-cell;
  font-size: 1.29em;
}
//Главное меню
.main-menu{
  margin-top: 15px;
  display: table;
  width: 100%;
}
.main-menu .table-cell {
  display: table-cell;
  text-align: center;
  padding: 10px 0;
  font-size: @font-size-h4;
  background-color: #000000;
  border-right: 1px solid #4b4b4b;
  border-bottom: 1px solid #4b4b4b;
}
.main-menu .table-row {
  display: table-row;
}
.main-menu .table-cell:last-child {
  border-right: 0;
}
.main-menu .table-row:last-child .table-cell {
  border-bottom: 0;
}
.main-menu .table-cell a {
  color: #fff;
}
//
//ПОДВАЛ
.footer {
  height: 115px;
  background-color: #ebeaea;
  border: 0;
  margin: 40px auto 0 auto;
  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}
.footer .promo {
  text-align: center;
  background: #000000;
  padding: 8px 15px;
  color: #ffffff;
  display: inline-block;
}
.footer .phone {
  font-size: 1.57em;
  text-align: center;
}
.footer .vk {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-top: 15px;
  background: url(/img/sprite-ico.png) no-repeat 0px 0px;
}
.footer .tw {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-top: 15px;
  background: url(/img/sprite-ico.png) no-repeat -20px 0px;
}
.footer .fb {
  width: 21px;
  height: 20px;
  margin-left: 15px;
  margin-top: 15px;
  background: url(/img/sprite-ico.png) no-repeat -41px 0px;
}
//
//Главный контейнер
.wrap {
  margin: 0 auto -115px;
  padding: 0 0 115px;
}
.wrap .container {
  padding: 0;
}
//
//Разделитель между рубриками
.border-top {
  border-top: 1px solid #d4d4d4;
  padding-top: 20px;
  text-align: center;
}
.border-top-shadow {
  border-top: 1px solid #fff;
  margin-top: -20px;
}
.rubric-name {
  margin-top: -37px;
  text-align: center;
}
.rubric-name h1,h2,h3,h4,h5,h6 {
  display: inline-block;
  background-color: #ebeaea;
  text-transform: uppercase;
  padding: 0 20px;
}
//
a {
  color: #000000;
}
a:hover, a:focus {
  color: #000000;
}
.breadcrumb {
  padding: 8px 0;
}


