.not-found{
  width: 550px;
  text-align: center;
}
.not-found-code{
  font-size: 15em;
  color: #e27c7c;
  font-weight: bold;
}
.not-found-title {
  margin-top: -40px;
  font-size: 1.5em;
  font-weight: bold;
  color: #e27c7c;
}
.not-found-text {
  margin-top: 25px;
  font-size: 1.45em;
}
.not-found-text > span {
  font-weight: bold;
}