//
// Pagination (multiple pages)
// --------------------------------------------------
.pagination {
  width: 100%;
  text-align: center;

  > li {
    display: inline-block; // Remove list-style and block-level defaults
    > a,
    > span {
      color: #fff;
      background-color: #000;
      border: 1px solid #000;
      margin-left: 20px;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      color: #000;
      background-color: #ebeaea;
      border-color: #ebeaea;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: #000;
      background-color: #ebeaea;
      border-color: #ebeaea;
    }
  }
}
