.name-product {
  font-size: 1.14em;
  text-transform: uppercase;
  display: block;
  text-align: center;
  min-height: 44px;
}

.name-product-main {
  display: block;
  font-size: 1.78em;
  text-transform: uppercase;
  font-weight: lighter;
  min-height: 140px;
}

.price-product {
  font-size: 1.29em;
  font-weight: bold;
}
.price-product-main {
  font-size: 1.78em;
  font-weight: lighter;
}

.img-product {
  width: 100%;
}

.text-product-bold {
  font-weight: bold;
  font-size: 1.29em;
  text-transform: capitalize;
}

.text-product {
  font-size: 1.14em;
  text-transform: capitalize;
}

.text-product-main {
  color: #b2b2b2;
  min-height: 40px;
  letter-spacing: 2px;
  font-weight: lighter;
}

.block-product {
  margin: 0;
  background-color: #fff;
}

//Рэйтинг (звездочки)
.rating-container {
  color: #000;
}

.rating-container .rating-stars {
  color: #e27c7c;
}

.rating-container .rating-stars:before {
  text-shadow: none;
}

.rating-xs {
  font-size: 1.3em;
}
