//Настройки Переменных для кнопок
@padding-base-vertical:     2px;
@padding-base-horizontal:   10px;

@padding-long-vertical:     4px;
@padding-long-horizontal:   22px;

@padding-large-horizontal:  37px;

@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

@btn-default-bg:                 #e27c7c;
@btn-default-color:              #fff;

@brand-success:                  #e27c7c;
//
//Настройки размера шрифтов
@font-size-large:         ceil((@font-size-base * 2.14)); // ~30px

@font-size-h1:            floor((@font-size-base * 2.14)); // ~30px
@font-size-h2:            floor((@font-size-base * 1.79)); // ~25px
@font-size-h3:            ceil((@font-size-base * 1.43)); // ~20px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            ceil((@font-size-base * 1.14)); // ~16px
@font-size-h6:            @font-size-base;
//
//Ширина поля input
@input-height-base:              (@line-height-computed + (@padding-base-vertical * 9) + 2); // ~40px;
//Настройки отображения злебный крошек
@breadcrumb-bg:                 #ebeaea;
@breadcrumb-active-color:       #e27c7c;
@breadcrumb-separator:          "»";
@breadcrumb-color:              #000;
//
@p-color:                       #a8a8a8;

//== Navs
//=== Shared nav styles
@nav-link-hover-bg:                         #d95252;

@nav-disabled-link-color:                   #fff;
@nav-disabled-link-hover-color:             #d95252;

//== Tabs
@nav-tabs-border-color:                     #e27c7c;

@nav-tabs-link-hover-border-color:          #e27c7c;

@nav-tabs-active-link-hover-bg:             #d95252;
@nav-tabs-active-link-hover-color:          #fff;
@nav-tabs-active-link-hover-border-color:   #d95252;

@nav-tabs-justified-link-border-color:            #ddd;
@nav-tabs-justified-active-link-border-color:     #d95252;
//== Navs
//== Tabs
@nav-tabs-border-color:                     #e27c7c;

@nav-tabs-link-hover-border-color:          #e27c7c;

@nav-tabs-active-link-hover-bg:             #d95252;
@nav-tabs-active-link-hover-color:          #fff;
@nav-tabs-active-link-hover-border-color:   #d95252;


.pad-right-0 {
  padding-right: 0;
}
.pad-right-5 {
  padding-right: 5px;
}
.pad-right-10 {
  padding-right: 10px;
}
.pad-right-15 {
  padding-right: 15px;
}
.pad-right-20 {
  padding-right: 20px;
}
.pad-right-25 {
  padding-right: 25px;
}
.pad-left-0 {
  padding-left: 0;
}
.pad-left-5 {
  padding-left: 5px;
}
.pad-left-10 {
  padding-left: 10px;
}
.pad-left-15 {
  padding-left: 15px;
}
.pad-left-20 {
  padding-left: 20px;
}
.pad-left-25 {
  padding-left: 25px;
}
.pad-top-5 {
  padding-top: 5px;
}
.pad-top-10 {
  padding-top: 10px;
}
.pad-top-15 {
  padding-top: 15px;
}
.pad-top-20 {
  padding-top: 20px;
}
.pad-top-25 {
  padding-top: 25px;
}
.pad-bottom-5 {
  padding-bottom: 5px;
}
.pad-bottom-10 {
  padding-bottom: 10px;
}
.pad-bottom-15 {
  padding-bottom: 15px;
}
.pad-bottom-20 {
  padding-bottom: 20px;
}
.pad-bottom-25 {
  padding-bottom: 25px;
}
.m-top-5 {
  margin-top: 5px;
}
.m-top-10 {
  margin-top: 10px;
}
.m-top-15 {
  margin-top: 15px;
}
.m-top-20 {
  margin-top: 20px;
}
.m-top-55 {
  margin-top: 55px;
}
.m-top-25 {
  margin-top: 25px;
}
.m-bottom-5 {
  margin-bottom: 5px;
}
.m-bottom-10 {
  margin-bottom: 10px;
}
.m-bottom-15 {
  margin-bottom: 15px;
}
.m-bottom-20 {
  margin-bottom: 20px;
}
.m-bottom-25 {
  margin-bottom: 25px;
}
.m-right-5 {
  margin-right: 5px;
}
.m-right-10 {
  margin-right: 10px;
}
.m-right-15 {
  margin-right: 15px;
}
.m-right-20 {
  margin-right: 20px;
}
.m-right-25 {
  margin-right: 25px;
}
.m-left-5 {
  margin-left: 5px;
}
.m-left-10 {
  margin-left: 10px;
}
.m-left-15 {
  margin-left: 15px;
}
.m-left-20 {
  margin-left: 20px;
}
.m-left-25 {
  margin-left: 25px;
}

