server {
    charset utf-8;
    client_max_body_size 128M;

    listen 80; ## listen for ipv4
    #listen [::]:80 default_server ipv6only=on; ## listen for ipv6

    server_name <%= @url %>;
    root <%= @root %>;
    index <%= @index %>;

    access_log  <%= @access_log %>;
    error_log   <%= @error_log %>;

    location / {
        # Redirect everything that isn't a real file to index.php
        try_files $uri $uri/ /<%= @index %>?$args;
    }

    location /backend/ {
        try_files $uri $uri/ /backend/<%= @index %>?$args;
    }

    # Avoid processing of calls to non-existing static files by Yii
    location ~ /assets/static/(\d+)\.(png|jpg|gif|swf|ico|pdf|mov|fla|zip|rar|mp3|ogg)$ {
        try_files $uri /publisher/publish/$1;
        expires 90d;
    }

    # Avoid processing of calls to non-existing static files by Yii
    location ~ \.(js|css|png|jpg|gif|swf|ico|pdf|mov|fla|zip|rar|mp3|ogg)$ {
        try_files $uri =404;
        expires 90d;
    }

    location ~ \.php$ {
        fastcgi_index <%= @index %>;
        include fastcgi_params;
        set $fsn /<%= @index %>;
        <% if @allow_custom_scripts_execution -%>
            if (-f $document_root$fastcgi_script_name) {
                set $fsn $fastcgi_script_name;
            }
            fastcgi_read_timeout 3600s;
        <% end -%>
        fastcgi_param SCRIPT_FILENAME $document_root$fsn;
        fastcgi_pass unix:<%= @socket %>;
    }

    location ~ /\. {
        deny all;
    }
}
